#about {
  .container--wide {
    @include breakpoint($breakpoint-laptop) {
      background-position-x: 25%;
    }

    @include breakpoint($breakpoint-tablet--large) {
      background-position-x: 10%;
    }

    @include breakpoint($breakpoint-mobile--large) {
      background: none;
    }

    background-image: url("../img/page/index/about/background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.about {
  @include breakpoint($breakpoint-laptop) {
    padding: 50px 0;
  }

  @include breakpoint($breakpoint-mobile--large) {
    padding: 0;
  }

  padding: 88px 0;
}
