#about {
  .container--wide {
    background-image: url("../img/page/index/about/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

.about {
  padding: 88px 0;
}
