#hero {
}

.hero {
  position: relative;

  &__title {
    @include breakpoint($breakpoint-mobile--large) {
      margin-bottom: 5px;
      line-height: 150%;
    }

    margin-bottom: 20px;
  }

  &__description {
    @include breakpoint($breakpoint-tablet) {
      width: 70%;
      height: 80px;

      font-size: $font-size__text--big;

      br {
        display: none;
      }
    }

    @include breakpoint($breakpoint-mobile--large) {
      height: auto;
      margin-bottom: 10px;

      font-size: $font-size__text--small;
      -webkit-line-clamp: 2;
    }

    display: -webkit-box;
    overflow: hidden;

    height: 90px;
    margin-bottom: 100px;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  &__slide {
    @include breakpoint(max-width 1360px) {
      padding: 40px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      padding: 20px;
      background-position-x: 5%;
    }

    padding: 40px 0;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
