.breadcrumb {
  @include breakpoint($breakpoint-mobile--large) {
    font-size: 14px;
  }

  margin-bottom: 0;
  padding: 0;
  background-color: transparent;

  &-item {
    a,
    &.active {
      color: $gray-700;
    }

    & + .breadcrumb-item::before {
      content: "→";
      padding-right: 0.5rem;
    }
  }
}
