#hero {
  .slider-nav {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: 50%;

    justify-content: flex-end;

    pointer-events: none;
    transform: translateX(-50%);

    & > * {
      pointer-events: initial;
    }
  }
}
