#account {
  .page__header {
    margin-bottom: 40px;
  }
}

.account {
  @include breakpoint($breakpoint-mobile--large) {
    padding: 0;

    .btn {
      justify-content: center;
      width: 100%;
    }
  }

  padding: 36px;
}