#list-brand {
}

.list-brand {
  .tab-pane {
    .row {
      padding: 28px 0;
    }
  }

  &__letter {
    font-weight: $weight-SemiBold;
    font-size: 34px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin-bottom: -0.75rem;
    padding-left: 0;
    list-style-type: none;

    & > li {
      @include breakpoint($breakpoint-mobile--large) {
        width: 100%;
        font-size: $font-size__text--regular;
      }

      width: 180px;
      padding-bottom: 0.75rem;
    }
  }
}
