// -----------------------------------------------------------------------------
// В этом файле прописываются стили относящиеся ко всем страницам
// -----------------------------------------------------------------------------

.page {
  &__header,
  &__breadcrumb {
    margin-bottom: 20px;
  }

  &__title {
    font-weight: $weight-Bold;
    font-size: $font-size__title--medium;
    line-height: 1.2;
  }

  &__description {
    margin-bottom: 0;
    font-size: $font-size__text--large;
  }
}
