.modal {
  &-sm {
    max-width: 376px;
  }

  .close {
    @include breakpoint($breakpoint-mobile--large) {
      top: 25px;
      right: 25px;

      width: 28px;
      height: 28px;
    }

    position: absolute;
    top: 20px;
    right: 20px;

    width: 52px;
    height: 52px;

    background-size: contain;
  }

  .modal-content {
    @include breakpoint($breakpoint-mobile--large) {
      padding: 30px;
    }

    padding: 36px;

    border: none;
    border-radius: 0;
  }

  .modal-header,
  .modal-body {
    padding: 0;
  }

  .modal-header {
    @include breakpoint($breakpoint-mobile--large) {
      margin-bottom: 20px;
    }

    display: block;

    margin-bottom: 24px;
    border-bottom: none;

    text-align: center;
  }

  .modal-title {
    @include breakpoint($breakpoint-mobile--large) {
      font-size: 26px;
    }

    font-weight: $weight-SemiBold;
    font-size: 34px;
  }

  .modal-text {
    font-size: $font-size__text--big;
  }
}
