.modal {
  &-sm {
    max-width: 376px;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 52px;
    height: 52px;
  }

  .modal-content {
    padding: 36px;

    border: none;
    border-radius: 0;
  }

  .modal-header,
  .modal-body {
    padding: 0;
  }

  .modal-header {
    display: block;

    margin-bottom: 24px;
    border-bottom: none;

    text-align: center;
  }

  .modal-title {
    font-weight: $weight-SemiBold;
    font-size: 34px;
  }
}
