// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
}

.header {
  &__top {
    background-color: $gray-100;
  }

  &__body,
  &__bottom {
    position: relative;
    background-color: $white;
  }

  &__body {
    z-index: 5;
    padding: 1rem 0;
    border-bottom: 1px solid $gray-200;
  }

  &__bottom {
    top: 0;
    padding: 10px 0;
    border-bottom: 1px solid $gray-200;
    transition: $transition-base;

    &--hide {
      top: -50px;
    }
  }

  &__content {
    display: flex;
  }

  &__search {
    flex-grow: 1;

    .input-box,
    input {
      height: 100%;
    }
  }

  &__action {
    display: flex;
    align-items: center;

    .link {
      width: 82px;

      @media (hover: hover) {
        &:hover {
          .link__icon path {
            stroke: $gray-900;
          }

          .link__text {
            color: $gray-900;
          }
        }
      }

      &__text {
        color: $gray-700;
      }
    }
  }
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 0;

  font-weight: $weight-Medium;

  &__geo,
  .nav__link {
    color: $gray-600;
  }

  &__geo {
    @media (hover: hover) {
      &:hover {
        color: $gray-900;

        path {
          stroke: $gray-900;
        }
      }
    }
  }
}

.header-sticky {
  position: sticky;
  z-index: $zindex-sticky;
  top: var(--header-offset);
  left: 0;
  width: 100%;
}
