.heading {
  position: relative;

  .container--wide {
    @include breakpoint($breakpoint-laptop) {
      position: relative;
    }
  }

  .page__description {
    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--big;
    }

    @include breakpoint($breakpoint-tablet) {
      width: 70%;
      font-size: $font-size__text--regular;

      br {
        display: none;
      }
    }

    @include breakpoint($breakpoint-mobile--large) {
      width: 100%;

      font-weight: $weight-Medium;
      font-size: $font-size__text--small;
    }
  }

  &--offset {
    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 30px;
    }

    margin-bottom: 40px;
  }

  &__content {
    @include breakpoint($breakpoint-laptop) {
      padding: 40px 40px 60px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      padding-bottom: 70px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      padding: 20px 20px 40px;
    }

    position: relative;
    z-index: 2;

    padding: 40px 0 60px;
  }

  &__background {
    @include breakpoint($breakpoint-laptop) {
      background-position-x: 18%;
    }

    @include breakpoint($breakpoint-tablet--large) {
      background-position-x: 40%;
    }

    @include breakpoint($breakpoint-tablet) {
      background-position-x: 48%;
    }

    @include breakpoint($breakpoint-mobile--large) {
      background-position-x: 0;
      background-size: cover;
    }

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-position-x: center;
    background-size: 1360px 100%;
    background-repeat: no-repeat;
  }
}
