.mobile-menu {
  position: absolute;
  z-index: 40;
  top: 100%;
  left: 0;

  width: 100%;

  opacity: 0;
  visibility: hidden;

  transition: 0.3s ease;

  &__wrapper {
    overflow: auto;

    width: 100%;
    max-height: calc(100vh - 115px);

    padding-top: 16px;
    padding-bottom: 48px;

    background-color: $white;
    font-weight: $weight-Medium;

    transition: 0.5s ease-out;
  }

  &__action {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
  }

  &__city {
    padding-bottom: 20px;
  }

  &__nav {
    padding: 14px 0;

    &--sub {
      padding-bottom: 0;

      .nav__link {
        color: $gray-600;
        font-size: 15px;
      }
    }
  }

  &--open {
    opacity: 1;
    visibility: visible;
  }
}
