.section {
  margin-bottom: 80px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 18px;
  }

  &__title {
    font-weight: $weight-SemiBold;
  }
}
