.section {
  @include breakpoint($breakpoint-tablet) {
    margin-bottom: 50px;
  }

  @include breakpoint($breakpoint-mobile--large) {
    margin-bottom: 40px;
  }

  margin-bottom: 80px;

  &:first-child {
    @include breakpoint($breakpoint-mobile--large) {
      margin-top: 20px;
    }

    margin-top: 40px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
  }

  &__title {
    @include breakpoint($breakpoint-tablet--large) {
      font-size: 26px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      font-size: 20px;
    }

    margin-bottom: 0;

    font-weight: $weight-SemiBold;
    font-size: 34px;
  }
}
