.section {
  margin-bottom: 80px;

  &:first-child {
    margin-top: 40px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 18px;
  }

  &__title {
    font-weight: $weight-SemiBold;
  }
}
