.link {
  cursor: pointer;

  @media (hover: hover) {
    &:hover,
    &:hover .link__text {
      color: $yellow;
    }
  }

  &--vertical {
    flex-direction: column;

    .link__icon {
      margin-right: 0;
      margin-bottom: 2px;
    }
  }

  &--icon {
    display: flex;
    align-items: center;
  }

  &--white {
    .link__text {
      color: $gray-200;
    }
  }

  &__icon {
    margin-right: 0.5rem;
  }

  &__text {
    font-weight: $weight-Medium;
  }
}
