.nav-pills {
  .nav-item {
    margin-bottom: 0.5rem;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  .nav-link {
    border: $card-border-width solid $card-border-color;

    font-weight: $weight-Medium;
    font-size: $font-size__text--big;

    transition: $transition-base;
  }

  .nav-link.active {
    border-color: transparent;
    color: $black;
  }
}
