.nav-pills {
  .nav-item {
    margin-bottom: 0.5rem;

    @media (hover: hover) {
      &:hover button {
        background-color: $gray-900;
        color: $gray-100;
      }
    }

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  .nav-link {
    border: $card-border-width solid $card-border-color;

    font-weight: $weight-Medium;
    font-size: $font-size__text--big;

    transition: $transition-base;

  }

  .nav-link.active {
    border-color: transparent;
    color: $black;
  }
}
