#description {
  @include breakpoint($breakpoint-tablet--large) {
    margin-top: 0;
  }

  margin-top: -40px;
}

.description {
  @include breakpoint($breakpoint-laptop) {
    padding: 40px 0;
  }

  padding: 60px 0;
}
