// Брейпоинты разных экранов для адаптива
$breakpoint-laptop: max-width 1200px;

$breakpoint-tablet--large: max-width 991px;
$breakpoint-tablet: max-width 767px;

$breakpoint-mobile--large: max-width 575px;
$breakpoint-mobile--medium: max-width 380px;
$breakpoint-mobile: max-width 330px;
