.brand-card {
  transition: $transition-base;

  @media (hover: hover) {
    &:hover {
      border-color: $gray-600;
    }
  }

  &__picture {
    @include breakpoint($breakpoint-tablet) {
      height: 86px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      height: 66px;
    }

    height: 124px;
  }
}
