.category-card {
  height: 100%;
  border: none;
  background-color: #f6f6f6;

  transition: $transition-base;

  @media (hover: hover) {
    &:hover {
      background-color: $yellow;
    }
  }

  &__title {
    margin-bottom: 0;
    padding: 0.75rem 1rem 1rem;

    font-size: $font-size__text--big;
    text-align: center;
  }

  &__picture {
    height: 128px;
    margin-top: auto;
  }
}
