.category-card {
  height: 100%;
  border: none;

  &__wrapper {
    position: relative;
    overflow: hidden;
    max-height: 180px;
    background-color: $gray-100;

    transition: $transition-base;

    @media (hover: hover) {
      &:hover {
        background-color: $yellow;
      }
    }
  }

  &__title {
    margin-bottom: 0;
    padding: 0.75rem 1rem 1rem;

    font-size: $font-size__text--big;
    text-align: center;
  }

  &__picture {
    height: 128px;
    margin-top: auto;
  }

  &__list {
    margin-top: 20px;
  }
}
